main {
    display: flex;
    height: 100%;
    overflow: hidden;
}

main:has(#your-information.initial) {
    background-color: var(--gray-200);
}

section {
    display: flex;
    position: relative;
    overflow: hidden;
}

section:last-of-type {
    flex-grow: 1;
}

section:has(.resizer) {
    flex-shrink: 0;
    width: 23%;
}

.your-information.initial {
    max-width: 40vw;
    margin: 4rem auto;
    border-radius: 1rem;
    box-shadow: var(--shadow-1), var(--shadow-2), var(--shadow-3);
    background-color: white;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
    width: 1rem;
    height: 1rem;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-300);
    border: 2.5px solid #fff;
    border-radius: 8px;
    box-shadow: inset -.7px -1px 2.5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.not-resizer {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: auto;
    transition: all .12s;
}

.your-information:not(.initial) .not-resizer {
    background-color: var(--gray-200);
}

.not-resizer>* {
    min-width: 250px;
}

.resizer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 8px;
    height: 100%;
    background-color: var(--gray-300);
    cursor: pointer;
}

.initial .resizer {
    display: none;
}

.resizer:hover {
    filter: brightness(0.98);
}

.resizer::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 20px;
    mask-image: url(../images/menu-kebab-vertical-2-svgrepo-com.svg);
    -webkit-mask-image: url(../images/menu-kebab-vertical-2-svgrepo-com.svg);
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--gray-500);
}

header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    z-index: 1;
    padding: 1.5rem 1rem 1rem;
}

#requirements-overview {
    z-index: 2;
}

#requirements-overview .notice .icon {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: .75rem;
    box-shadow: var(--shadow-1), var(--shadow-3);
    background-color: rgb(197, 73, 54);
}

#requirements-overview .notice .icon::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: white;
    mask-image: url(../images/notification-svgrepo-com.svg);
    -webkit-mask-image: url(../images/notification-svgrepo-com.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    margin-top: -1px;
}

header:has(.left) {
    flex-direction: row;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h1 {
    color: var(--drake-blue);
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    letter-spacing: -0.15px;
    margin: 0;
}

#requirements-overview h1 {
    display: flex;
    align-items: center;
    gap: .5rem;
}

content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
    overflow: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: var(--gray-600);
    margin: 0;
}

.reqs-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.req-header {
    display: flex;
    gap: .25rem;
}

.req-header label {
    cursor: inherit;
    line-height: 1.25rem;
    font-size: .875rem;
}

.req-header input[type="checkbox"] {
    display: flex;
    flex-shrink: 0;
    margin: 4px;
    width: .75rem;
    height: .75rem;
    border: 1px solid var(--gray-400) !important;
    border-radius: 4px;
    pointer-events: none;
}

.reqs {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.reqs label.completed {
    color: var(--color-completed);
    font-weight: var(--font-weight-completed);
}

.reqs label.started {
    color: var(--color-started);
    font-weight: var(--font-weight-started);
}

.reqs label.notStarted {
    color: var(--color-not-started);
    font-weight: var(--font-weight-not-started);
}

.choice-group {
    display: flex;
    flex-direction: column;
    gap: 0;
    transition: all .2s;
}

.choice-group.expanded {
    gap: .125rem;
}

.choice-group label input[type="checkbox"] {
    margin: 4px;
    width: .75rem;
    height: .75rem;
    cursor: pointer;
}

.choice-group>label {
    display: flex;
    gap: .25rem;
    max-height: 0;
    opacity: 0;
    line-height: 1.25rem;
    font-size: .875rem;
    color: var(--gray-600);
    margin-left: .625rem;
    margin-top: 0;
    transition: all .2s;
}

.choice-group.expanded>label {
    max-height: 5rem;
    opacity: 1;
}

.fyp-grid {
    display: grid;
    --grid-gap: 24px;
    --min-cell-width: 322px;
    min-width: calc(var(--min-cell-width) * 2 + var(--grid-gap));
    grid-template-columns: repeat(auto-fill, minmax(var(--min-cell-width), calc((100% - var(--grid-gap)) / 2)));
    gap: var(--grid-gap);
}

.semester-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.semester-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

h3 {
    display: flex;
    margin: 0;
    font-weight: 700;
    font-size: 15px;
    color: var(--gray-500);
}

.total-credits {
    display: flex;
    gap: 2px;
    font-size: 12px;
    color: var(--gray-500);
    font-style: italic;
}

.total-credits span {
    font-weight: 550;
}

.classes-list-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-info {
    display: flex;
    gap: 8px;
    font-size: 14px;
    color: var(--gray-600);
    white-space: nowrap;
}

.main-info .num-credits {
    display: flex;
    background-color: var(--gray-400);
    color: var(--gray-200);
    border-radius: 2px;
    font-style: italic;
    font-size: .75rem;
    line-height: 1;
    height: fit-content;
    padding: .125rem .25rem;
    align-items: center;
    justify-content: center;
}

.main-info .course-number {
    font-weight: 600;
}

.class-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 6px;
    overflow: hidden;
    row-gap: 4px;
    column-gap: 8px;
    transition: all .2s;
}

.class-container.see-more-container:hover {
    scale: 1.01;
}

.class-container.see-more-container:not(.expanded)::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 80%);
}

.class-container.expanded {
    flex-wrap: wrap;
    overflow: visible;
}

.class-container.expanded .course-title {
    white-space: normal;
    margin-right: .25rem;
}

.attributes {
    display: flex;
    gap: 4px;
}

.class-container.expanded .attributes {
    flex-wrap: wrap;
    margin-left: 8px;
}

.chip {
    display: flex;
    width: fit-content;
    white-space: nowrap;
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 6px;
    color: var(--gray-500);
    box-shadow: inset -1px -1px 2px rgba(150, 150, 150, 0.3);
}

.see-more {
    position: absolute;
    top: 0;
    right: -4px;
    width: 18px;
    height: 18px;
    background-color: transparent;
    mask-image: url(../images/chevron-down-double-svgrepo-com.svg);
    mask-position: right center;
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-image: url(../images/chevron-down-double-svgrepo-com.svg);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    transition: all .2s;
}

.expanded .see-more {
    transform: rotate(180deg);
}

.see-more-container:hover>.see-more {
    background-color: var(--gray-400);
}

.see-more-container {
    position: relative;
    cursor: pointer;
}

.dropdown-container {
    display: flex;
    gap: .5rem;
    width: 100%;
}

.delete-major,
#add-major {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 1.25rem;
    margin-top: 3px;
    padding: 0;
    background-color: var(--gray-200);
    border: 1px solid var(--drake-blue);
    border-radius: .375rem;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s;
}

.delete-minor,
#add-minor {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 1.25rem;
    margin-top: 3px;
    padding: 0;
    background-color: var(--gray-200);
    border: 1px solid var(--drake-blue);
    border-radius: .375rem;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s;
}

.delete-semester,
#add-semester {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 1.25rem;
    margin-top: 3px;
    padding: 0;
    background-color: var(--gray-200);
    border: 1px solid var(--drake-blue);
    border-radius: .375rem;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s;
}


.delete-major:hover,
#add-major:hover {
    background-color: var(--light-blue);
}

.delete-minor:hover,
#add-minor:hover {
    background-color: var(--light-blue);
}

.delete-semester:hover,
#add-semester:hover {
    background-color: var(--light-blue);
}

.delete-major::after,
#add-major::before {
    content: '';
    background-color: var(--drake-blue);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    transition: all .2s;
}

.delete-minor::after,
#add-minor::before {
    content: '';
    background-color: var(--drake-blue);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    transition: all .2s;
}

.delete-semester::after,
#add-semester::before {
    content: '';
    background-color: var(--drake-blue);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    transition: all .2s;
}

.delete-major {
    width: 1.25rem;
}

.delete-minor {
    width: 1.25rem;
}

.delete-semester {
    width: 1.25rem;
}

.delete-major::after {
    position: absolute;
    inset: 2px;
    mask-image: url(../images/minus-svgrepo-com.svg);
    -webkit-mask-image: url(../images/minus-svgrepo-com.svg);
}

.delete-minor::after {
    position: absolute;
    inset: 2px;
    mask-image: url(../images/minus-svgrepo-com.svg);
    -webkit-mask-image: url(../images/minus-svgrepo-com.svg);
}

.delete-semester::after {
    position: absolute;
    inset: 2px;
    mask-image: url(../images/minus-svgrepo-com.svg);
    -webkit-mask-image: url(../images/minus-svgrepo-com.svg);
}

.delete-major:hover::after {
    inset: 1px;
}

.delete-minor:hover::after {
    inset: 1px;
}

.delete-semester:hover::after {
    inset: 1px;
}

#add-major {
    max-width: 1.25rem;
    width: fit-content;
}

#add-minor {
    max-width: 1.25rem;
    width: fit-content;
}

#add-semester {
    max-width: 1.25rem;
    width: fit-content;
}

#add-major:hover {
    max-width: 6rem;
}

#add-minor:hover {
    max-width: fit-content;
}

#add-semester:hover {
    max-width: 6rem;
}

#add-major::before {
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: calc(1.25rem - 2px);
    height: 1rem;
    mask-image: url(../images/plus-large-svgrepo-com.svg);
    -webkit-mask-image: url(../images/plus-large-svgrepo-com.svg);
    transition: all .2s;
}

#add-minor::before {
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: calc(1.25rem - 2px);
    height: 1rem;
    mask-image: url(../images/plus-large-svgrepo-com.svg);
    -webkit-mask-image: url(../images/plus-large-svgrepo-com.svg);
    transition: all .2s;
}

#add-semester::before {
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: calc(1.25rem - 2px);
    height: 1rem;
    mask-image: url(../images/plus-large-svgrepo-com.svg);
    -webkit-mask-image: url(../images/plus-large-svgrepo-com.svg);
    transition: all .2s;
}

#add-major:hover::before {
    transform: scale(1.05);
    transform-origin: center;
}

#add-minor:hover::before {
    transform: scale(1.05);
    transform-origin: center;
}

#add-semester:hover::before {
    transform: scale(1.05);
    transform-origin: center;
}

#add-major .text {
    white-space: nowrap;
    color: var(--drake-blue);
    font-weight: 550;
    font-size: 13px;
    margin-left: .25rem;
    margin-right: .5rem;
}

#add-minor .text {
    white-space: nowrap;
    color: var(--drake-blue);
    font-weight: 550;
    font-size: 13px;
    margin-left: .25rem;
    margin-right: .5rem;
}

#add-semester .text {
    white-space: nowrap;
    color: var(--drake-blue);
    font-weight: 550;
    font-size: 13px;
    margin-left: .25rem;
    margin-right: .5rem;
}

.dropdowns {
    display: flex;
    flex-direction: column;
    gap: .375rem;
}

#majorselect select {
    display: none;
}

#minorselect select {
    display: none;
}

#semesterselect select {
    display: none;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    position: relative;
    border-radius: .375rem;
    padding: .25rem .6rem .25rem .75rem;
    border: 1px solid var(--drake-blue);
    color: var(--drake-blue);
    cursor: pointer;
    transition: all .2s;
}

.dropdown1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    position: relative;
    border-radius: .375rem;
    padding: .25rem .6rem .25rem .75rem;
    border: 1px solid var(--drake-blue);
    color: var(--drake-blue);
    cursor: pointer;
    transition: all .2s;
}

.dropdown:hover {
    background-color: var(--light-blue);
}

.dropdown1:hover {
    background-color: var(--light-blue);
}

.dropdown::after {
    content: '';
    display: flex;
    flex-shrink: 0;
    mask-image: url(../images/chevron-down-svgrepo-com.svg);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(../images/chevron-down-svgrepo-com.svg);
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    height: .75rem;
    width: .75rem;
    margin-top: .15rem;
    background-color: var(--drake-blue);
    transition: all .2s;
}

.dropdown1::after {
    content: '';
    display: flex;
    flex-shrink: 0;
    mask-image: url(../images/chevron-down-svgrepo-com.svg);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(../images/chevron-down-svgrepo-com.svg);
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    height: 1rem;
    width: 1rem;
    background-color: var(--drake-blue);
    transition: all .2s;
}


.dropdown.expanded::after {
    transform: rotate(180deg);
}

.dropdown1.expanded::after {
    transform: rotate(180deg);
}

.dropdown .label {
    font-size: 0.875rem;
    line-height: 1rem;
    user-select: none;
}

.dropdown1 .label {
    font-size: 0.875rem;
    line-height: 1rem;
    user-select: none;
}

.dropdown .options {
    opacity: 0;
    position: absolute;
    top: calc(100% + .5rem);
    max-height: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    gap: .25rem;
    padding: .5rem;
    background-color: var(--gray-200);
    border-radius: .75rem;
    box-shadow: var(--shadow-1), var(--shadow-2), var(--shadow-3);
    overflow: scroll;
    z-index: 1;
    transition: all .2s;
}

.dropdown1 .options {
    opacity: 0;
    position: absolute;
    top: calc(100% + .5rem);
    max-height: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    gap: .25rem;
    padding: .5rem;
    background-color: var(--gray-200);
    border-radius: .75rem;
    box-shadow: var(--shadow-1), var(--shadow-2), var(--shadow-3);
    overflow: scroll;
    z-index: 1;
    transition: all .2s;
}

.dropdown.expanded .options {
    opacity: 1;
    max-height: 900px;
    pointer-events: all;
}

.dropdown1.expanded .options {
    opacity: 1;
    max-height: 900px;
    pointer-events: all;
}

.dropdown .options::-webkit-scrollbar {
    display: none;
}

.dropdown1 .options::-webkit-scrollbar {
    display: none;
}

.dropdown .option {
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 14px;
    text-align: left;
    letter-spacing: .2px;
    padding: .25rem;
    line-height: 1.4rem;
    color: var(--gray-700);
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s;
}

.dropdown1 .option {
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 14px;
    text-align: left;
    letter-spacing: .2px;
    padding: .25rem;
    line-height: 1.4rem;
    color: var(--gray-700);
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s;
}

.dropdown .option:hover {
    background-color: var(--light-blue);
}

.dropdown1 .option:hover {
    background-color: var(--light-blue);
}

#majorselect,
#minorselect,
#semesterselect {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.initial #minorselect {
    justify-content: space-between;
    height: 100%;
}

#majorselect input[type="submit"],
#minorselect input[type="submit"],
#semesterselect input[type="submit"] {
    appearance: none;
    border: none;
    border-radius: .5rem;
    font-size: 14px;
    font-weight: 550;
    padding: .5rem .75rem;
    color: white;
    background-color: var(--drake-blue);
    cursor: pointer;
}

.initial #submit-user-info {
    font-size: 1rem !important;
}

#majorselect input[type="submit"]:hover,
#minorselect input[type="submit"]:hover,
#semesterselect input[type="submit"]:hover {
    filter: brightness(1.2);
}

.see-more-controllers {
    display: flex;
    align-items: flex-end;
    gap: .5rem;
}

.see-more-controllers button {
    appearance: none;
    display: flex;
    border: none;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    padding: .2rem .5rem;
    border-radius: .25rem;
    font-size: 11px;
    font-weight: 550;
    background-color: rgba(255, 255, 255, 0);
    color: var(--drake-blue);
    border: 1px solid var(--drake-blue);
    cursor: pointer;
    transition: all .2s;
}

.see-more-controllers button:hover {
    background-color: color-mix(in srgb, var(--drake-blue) 5%, white);
}

.tooltip-container {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
}

.tooltip-container .tooltip {
    opacity: 0;
    transition: all .3s;
    position: fixed;
    width: 15rem;
    font-size: 1rem;
    background-color: white;
    z-index: 1;
    padding: .5rem .75rem;
    border-radius: .25rem;
    box-shadow: var(--shadow-1);
}

.tooltip-container .icon:hover+.tooltip {
    opacity: 1;
}