{% extends 'base.html' %}

{% block content %}

<main>
	<section class='your-information'>
		<header>
			<h1>Your Information</h1>
			<p>Use the fields below to set your graduation year, majors, and minors.</p>
		</header>
		<content>
			-- dropdown stuff here --
		</content>
		<div class='resizer'></div>
	</section>
	<section>
		<header>
			<h1>Another Section</h1>
			<p>Here's a helpful message below the heading.</p>
		</header>
		<content>
			-- requirements overview, classes by semester, etc. --
		</content>
	</section>
	<section>
		<header>
			<h1>Yet Another Section</h1>
			<p>Information about this section and some tips for its usage.</p>
		</header>
		<content>
			-- requirements overview, classes by semester, etc. --
		</content>
	</section>
</main>

{% endblock %}