{% extends 'base.html' %}

{% block content %}

<main>
	<section class='your-information'>
		<header>
			<h1>Your Information</h1>
			<p>Use the fields below to set your graduation year, majors, and minors.</p>
		</header>
		<content>
			<div class="dropdown">
				<button>Major</button>
				<div class="dropdown-content">
					<a href="#">Business</a>
				</div>
			</div>

			<div class="dropdown">
				<button>Semester</button>
				<div class="dropdown-content">
					<a href="#">2024 fall</a>
					<a href="#">2025 spring</a>
				</div>
			</div>
		</content>
		<div class='resizer'></div>
	</section>
	<section>
		<header>
			<h1>Another Section</h1>
			<p>Here's a helpful message below the heading.</p>
		</header>
		<content>
			-- requirements overview, classes by semester, etc. --
		</content>
	</section>
	<section>
		<header>
			<h1>Yet Another Section</h1>
			<p>Information about this section and some tips for its usage.</p>
		</header>
		<content>
			-- requirements overview, classes by semester, etc. --
		</content>
	</section>
</main>

{% endblock %}